#myMenu{
    font-size:10px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    border: solid 2px #005588;
    background: #005588;
    padding:10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index:20000;
}

.razonSocial{
    color:#03C5FF;
    float:left;
    font-size:18px;
    line-height:30px;
}

.nombreEspacio{
    color:#03C5FF;
    float:left;
    font-size:18px;
    line-height:30px;
}

.clienteShortDetail{
    padding:10px;
}

.workspaceShortDetail{
    padding:10px;
}
.styleTable { border-collapse: separate; }
.styleTable TD { font-weight: normal !important; padding: .4em; border-top-width: 0px !important; }
.styleTable TH { text-align: center; padding: .8em .4em; }
.styleTable TD.first, .styleTable TH.first { border-left-width: 0px !important; }